
.Orders{
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

 svg{
    margin: 0 auto;
 }

 .new-order{
    position: relative; 
 }

 .search__art{
    position: absolute;
    left: 40px;
    list-style: none;
    top: 40px;
 }

 .search__art-item{
    height: 30px;
    border-bottom: 2px solid black; 
 }

 .search__art-item:hover{
    color: #0b4086;
    cursor: pointer;
 }

 .search{
    width: 125px;
 }

 .number{
    width: 50px;
 }

 form{
    width: 950px;
    height: 100px;
    display: block;
 }

 input{
    height: 30px;
 }

 .addedProd{
   display: block;
   margin: 0 auto;
 }

 .addedOrder{
   display: block;
   margin: 0 auto;
 }

 .master{
   font-size: 24px;
   font-weight: bold;  
 }

 .item_orders{
   font-weight: bold;
 }

 .item_time{
   font-weight: bold;
   font-size: 18px;
 }

 .orders__category-sort{
   display: flex;
 }

 .pagination{ 
   margin-top: 20px; 
   li:first-child, li:last-child{
      width: 30px;
      background-color: white; 
   }
   li{
      width: 20px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      color: white;
      background-color: rgb(13,110,253); 
   }
   .active{
      background-color: #495057;
   }
 }