
 

.counter-item{
 
    width: 200px;  
    height: 100px;
    display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
}

.plus, .minus, .check, .close{
    width: 25px;  
    cursor: pointer;
}

.quantity{
    width: 50px;
}

.check, .close{
    margin-left: 50px;
}

.close{
    width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.text_quantity{
    font-weight: bold;
}

.send{
    display: none;
}

.reason{
    width: 200px;
    display: none; 
    border: 1px solid black;
}

.error{
    display: none;
    color: red;
    margin: 0 auto;
    text-align: center;
    width: 70px;
    font-weight: bold;
}

.successfull{
    display: none;
    color: green;
    margin: 0 auto;
    width: 70px;
    font-weight: bold;
}

.active{
    display: flex; 
}

.red{
    color: red;
}

.counter-number{
    display: flex;
    width: 100px;
    margin-left: 50px;
}

.counter-order{
    margin-top: 10px;
    margin-left: 10px;
    color: green;
}